<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>音乐详情页-台词</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/base.css">
    <link rel="stylesheet" href="../../../css/index.css">
    <script src="../../../js/lib/fontSize.js"></script>
</head>
<body>
<div id="app">
    <div class="play-details">
        <!-- 头部 -->
        <div class="backHome lines-head">
            <div class="back-btn"><a href="../../index.html#/lines" class="back-bg"></a></div>
            <div class="play-title">经典台词</div>  <!-- {{ movieData.name }} -->
        </div>

        <!-- 歌词内容 -->
        <div class="sing-lines indent-sty text-sty cm">
            <!-- {{ music.lyric } -->
            <p class="sing-text">
                idal waves don't beg forgiveness
                father, he enjoyed collisions
                the snowflake falls in may
                as the bells are ringing out
                cuz the man of the hour
                nature has its own religion
                father ruled by long division
                and the sky breaks at dawn
                we all come 'round
                and the road, the old men paved
            <p class="from-text">
                《明月几时有》
            </p>
            </p>

        </div>


        <!-- 底部固定 -->
        <div class="rat-footer">
            <div class="rat-left">
                <span class="left-bar icon-coll-bar"></span>
                <span class="left-bar icon-fabu-bar"></span>
                <span class="left-bar icon-copy-bar"></span>
            </div>
            <div class="rat-middle"></div>
            <div class="rat-right">
                <span class="right-bar">2872赞</span>
                <span class="right-bar">更多台词</span>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="../../../js/lib/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../../js/lib/vue.js"></script>
<script type="text/javascript" src="../../../js/lib/less.min.js"></script>
<script type="text/javascript" src="../../../js/lib/vue-router.js"></script>
<script type="text/javascript" src="../../../js/lib/vue-resource.js"></script>
<script type="text/javascript" src="../../../js/del/main.js"></script>
<script>

</script>
</html>