<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>关于幕喵</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/base.css">
    <link rel="stylesheet" href="../../../css/index.css">
    <script src="../../../js/lib/fontSize.js"></script>
</head>
<body>
<div id="app">
    <!-- 登录 -->
    <div class="backHome sign-info">
        <div class="back-btn"><a href="../../main.html" class="back-bg"></a></div>
        <div class="play-title">关于幕喵</div>  <!-- {{ movieData.name }} -->
    </div>
    <!-- 输入框 -->
    <div class="sign-in about-mumiao">
        <div class="movie-log about-miao"></div>
        <div class="user-name about-mm font60">
            幕喵
        </div>
        <div class="user-name about-mm font48">
            当前版本1.1.2
        </div>
        <div class="user-name about-mm font48">
            当电影遇上音乐尽在幕喵！
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="../../../js/lib/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../../js/lib/vue.js"></script>
<script type="text/javascript" src="../../../js/lib/less.min.js"></script>
<script type="text/javascript" src="../../../js/lib/vue-router.js"></script>
<script type="text/javascript" src="../../../js/lib/vue-resource.js"></script>
<script type="text/javascript" src="../../../js/del/main.js"></script>
<script>

</script>
</html>