<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>修改昵称</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/base.css">
    <link rel="stylesheet" href="../../../css/index.css">
    <script src="../../../js/lib/fontSize.js"></script>
</head>
<body>
<div id="app">
    <!-- 头部 -->
    <div class="backHome ">
        <div class="back-btn"><a href="../../index.html#/lines" class="back-bg"></a></div>
        <div class="play-title">修改昵称</div>  <!-- {{ movieData.name }} -->
    </div>

    <div class="modify-name">
        <span class="font48 fl">关关雎鸠</span>
        <span class="modify-close fr"></span>
    </div>

    <div class="confirm-btn font48">确认</div>

</div>
</body>
<script src="../../../js/lib/jquery-3.1.1.js"></script>
<script src="../../../js/lib/vue.js"></script>
<script src="../../../js/lib/less.min.js"></script>
<script src="../../../js/lib/vue-router.js"></script>
<script src="../../../js/lib/vue-resource.js"></script>
<script src="../../../js/del/main.js"></script>
</html>