<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我的评论</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/base.css">
    <link rel="stylesheet" href="../../../css/index.css">
    <script src="../../../js/lib/fontSize.js"></script>
</head>
<body>
<div id="app">
    <!-- 头部固定 -->
    <div class="header">
        <div class="movie-code">
            <a class="bg-image back-img" href="../../main.html"></a>
        </div>
        <div class="movie-title">
            <span>我评论的</span>
        </div>
    </div>

    <!-- Tab切换 -->
    <div class="collect-tab">
        <a class="tab-list cur-underline">按时间排序</a>
        <a class="tab-list">按获赞排序</a>
    </div>

    <!-- 按时间排序 -->
    <div class="showOrHide">
        <!-- 我的评论 -->
        <div class="user-ratings my-rat">
            <!-- 胶片背景 -->
            <div class="film-bg"></div>
            <!-- 用户评论 -->
            <div class="ratings-info indent-sty">
                <div class="rat-title">时间排序</div>
                <div class="rat-text">
                    <a href="javascript:;" class="rat-time">
                        了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                        敷衍了孙悟空的单线。
                        了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                    </a>
                </div>
                <div class="rat-bar clearfix">
                    <div class="fl">
                        <span class="font40 grayColor">2017-07-09</span>
                    </div>
                    <div class="fr">
                        <span class="icon-fabu-c fl"></span>
                        <span class="fabu-num fl">525</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 我的评论 -->
        <div class="user-ratings my-rat">
            <div>

                <!-- 用户评论 -->
                <div class="ratings-info indent-sty">
                    <div class="rat-title">《悟空传》电影原声</div>
                    <div class="rat-text">
                        <a href="javascript:;" class="rat-time">
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                            敷衍了孙悟空的单线。
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                        </a>
                    </div>
                    <div class="rat-bar clearfix">
                        <div class="fl">
                            <span class="font40 grayColor">2017-07-09</span>
                        </div>
                        <div class="fr">
                            <span class="icon-fabu-c fl"></span>
                            <span class="fabu-num fl">525</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 我的评论 -->
        <div class="user-ratings my-rat">
            <div>

                <!-- 用户评论 -->
                <div class="ratings-info indent-sty">
                    <div class="rat-title">《悟空传》电影原声</div>
                    <div class="rat-text">
                        <a href="javascript:;" class="rat-time">
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                            敷衍了孙悟空的单线。
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                        </a>
                    </div>
                    <div class="rat-bar clearfix">
                        <div class="fl">
                            <span class="font40 grayColor">2017-07-09</span>
                        </div>
                        <div class="fr">
                            <span class="icon-fabu-c fl"></span>
                            <span class="fabu-num fl">525</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 我的评论 -->
        <div class="user-ratings my-rat">
            <div>

                <!-- 用户评论 -->
                <div class="ratings-info indent-sty">
                    <div class="rat-title">《悟空传》电影原声</div>
                    <div class="rat-text">
                        <a href="javascript:;" class="rat-time">
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                            敷衍了孙悟空的单线。
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                        </a>
                    </div>
                    <div class="rat-bar clearfix">
                        <div class="fl">
                            <span class="font40 grayColor">2017-07-09</span>
                        </div>
                        <div class="fr">
                            <span class="icon-fabu-c fl"></span>
                            <span class="fabu-num fl">525</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 按获赞排序 -->
    <div class="showOrHide none">
        <!-- 我的评论 -->
        <div class="user-ratings my-rat">
            <!-- 胶片背景 -->
            <div class="film-bg"></div>
            <!-- 用户评论 -->
            <div class="ratings-info indent-sty">
                <div class="rat-title">获赞排序电影原声</div>
                <div class="rat-text">
                    <a href="javascript:;" class="rat-time">
                        了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                        敷衍了孙悟空的单线。
                        了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                    </a>
                </div>
                <div class="rat-bar clearfix">
                    <div class="fl">
                        <span class="font40 grayColor">2017-07-09</span>
                    </div>
                    <div class="fr">
                        <span class="icon-fabu-c fl"></span>
                        <span class="fabu-num fl">525</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 我的评论 -->
        <div class="user-ratings my-rat">
            <div>

                <!-- 用户评论 -->
                <div class="ratings-info indent-sty">
                    <div class="rat-title">《悟空传》电影原声</div>
                    <div class="rat-text">
                        <a href="javascript:;" class="rat-time">
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                            敷衍了孙悟空的单线。
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                        </a>
                    </div>
                    <div class="rat-bar clearfix">
                        <div class="fl">
                            <span class="font40 grayColor">2017-07-09</span>
                        </div>
                        <div class="fr">
                            <span class="icon-fabu-c fl"></span>
                            <span class="fabu-num fl">525</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 我的评论 -->
        <div class="user-ratings my-rat">
            <div>

                <!-- 用户评论 -->
                <div class="ratings-info indent-sty">
                    <div class="rat-title">《悟空传》电影原声</div>
                    <div class="rat-text">
                        <a href="javascript:;" class="rat-time">
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                            敷衍了孙悟空的单线。
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                        </a>
                    </div>
                    <div class="rat-bar clearfix">
                        <div class="fl">
                            <span class="font40 grayColor">2017-07-09</span>
                        </div>
                        <div class="fr">
                            <span class="icon-fabu-c fl"></span>
                            <span class="fabu-num fl">525</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 我的评论 -->
        <div class="user-ratings my-rat">
            <div>

                <!-- 用户评论 -->
                <div class="ratings-info indent-sty">
                    <div class="rat-title">《悟空传》电影原声</div>
                    <div class="rat-text">
                        <a href="javascript:;" class="rat-time">
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                            敷衍了孙悟空的单线。
                            了解过原著的肯定失望，没了精神内髓，化成一段感情和大量动作pk，
                        </a>
                    </div>
                    <div class="rat-bar clearfix">
                        <div class="fl">
                            <span class="font40 grayColor">2017-07-09</span>
                        </div>
                        <div class="fr">
                            <span class="icon-fabu-c fl"></span>
                            <span class="fabu-num fl">525</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
<script src="../../../js/lib/jquery-3.1.1.js"></script>
<script src="../../../js/lib/vue.js"></script>
<script src="../../../js/lib/less.min.js"></script>
<script src="../../../js/lib/vue-router.js"></script>
<script src="../../../js/lib/vue-resource.js"></script>
<script src="../../../js/del/main.js"></script>
</html>