<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>登录页</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/base.css">
    <link rel="stylesheet" href="../../../css/index.css">
    <script src="../../../js/lib/fontSize.js"></script>
</head>
<body>
<div id="app">
    <!-- 登录 -->
    <div class="backHome sign-info">
        <div class="back-btn"><a href="../../main.html" class="back-bg"></a></div>
        <div class="play-title">幕喵</div>  <!-- {{ movieData.name }} -->
    </div>
    <!-- 输入框 -->
    <div class="sign-in">
        <div class="movie-log"></div>
        <div class="user-name clearfix">
            <div class="user-bar fl"></div>
            <input class="user-input fl" type="text" placeholder="请输入手机号">
        </div>
        <div class="user-name password">
            <div class="user-bar pwd-bar fl"></div>
            <input class="user-input fl" type="password" placeholder="请输入验证码">
        </div>
        <div class="user-name signing-in">
            <input class="user-input sign-btn fl" type="button" value="快速登录">
        </div>
    </div>
    <!-- 胶片背景 -->
    <div class="film-bg">
        <span class="film-bg-bar">其他登录方式</span>
    </div>
    <!-- 第三方登录 -->
    <div class="relation">
        <a href="#" class="relation-sign">
            <span class="relation-wx"></span>
        </a>
        <a href="#" class="relation-sign ">
            <span class="relation-qq"></span>
        </a>
        <a href="#" class="relation-sign ">
            <span class="relation-wb"></span>
        </a>
    </div>
</div>
</body>

<script type="text/javascript" src="../../../js/lib/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../../js/lib/vue.js"></script>
<script type="text/javascript" src="../../../js/lib/less.min.js"></script>
<script type="text/javascript" src="../../../js/lib/vue-router.js"></script>
<script type="text/javascript" src="../../../js/lib/vue-resource.js"></script>
<script type="text/javascript" src="../../../js/del/main.js"></script>
<script>

</script>
</html>